.chat-body {
    width: 99.6%;
    height: 100%;
    background-color: gray;
    border-radius: 50px 0px 0px 50px;
    border-left: 2px solid #fabb5c;
    border-bottom: 2px solid #fabb5c;
    border-top: 2px solid #fabb5c;
}