.user-profile-main {
    position: absolute;
    top: 6%;
    height: 94%;
    width: 100%;
    background-color: #333333;
    box-sizing: border-box;
    overflow-y: scroll;
}

.profile-data-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.profile-data-2 {
    width: 50%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 2fr;
    border: 2px solid #ffa825;
    padding-right: 2%;
    background-color: #333333;
    border-radius: 15px;
    margin-top: 3%;
}

.user-info-grid {
    display: grid;
}

.profile-main-info-container {
    width: 100%;
}

.profile-pic-container-2 {
    position: relative;
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.profile-pic-2 {
    box-sizing: border-box;
    height: 85%;
    width: 85%;
    border-radius: 10px;
    border: 2px solid #ffa825;
}

.add-friend-btn {
    background-color: #fabb5c;
    border: 1px solid #ffa825;
    border-radius: 15px;
    width: 50%;
    height: 50%;
    transition: .2s ease-in;
    cursor: pointer;
    font-family: 'Jost';
}

.add-friend-btn:hover {
    background-color: #ffa825;
}

.user-wisdom {
    display: flex;
    justify-content: center;
    font-family: 'Jost';
    color: #fabb5c;
    font-size: 4rem;
    margin: 2% 0;
}

.user-posts-grid {
    background-color: #333333;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 3%;
    column-gap: 2%;
    box-sizing: border-box;
    padding: 3%;
    padding-top: 0;
}

.user-post {
    border: 2px solid #ffa825;
    border-radius: 5px;
    padding: 2%;
}

.no-posts {
    margin-top: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Jost';
    color: #ffa825;
    font-size: 2rem;
}