.nav-horizontal {
  background-color: #ffbd59;
  height: 3em;
  width: 100%;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
}

.mask {
  width: 100%;
  display: flex;
}

.list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;

}

.homepage-li {
  display: table-cell;
  align-items: center;
}

.homepage-a {
  display: flex;
  padding: 0 1em;
  text-decoration: none;
  color: white;
  height: 3rem;
  font-family: 'Jost';
  font-size: 1.5em;
  justify-content: center;
  align-items: center;
}

.homepage-a:hover {
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
}

.homepage-body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
}

.road {
  margin-top: 3em;
  display: flex;
  justify-content: center;
  height: 100vh;
  width: 500px;
  border-left: 10px solid black;
  border-right: 10px solid black;
  background-color: #d3d3d3;
}


.lane-separator {
  height: 100vh;
  border-left: 5px dashed rgb(255, 204, 0);
  border-right: 5px dashed rgb(255, 204, 0);
  margin: 0 10px;
}

.car {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.window {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 70px;
  border: 1px solid black;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  background-color: lightblue;
}

.pfp {
  height: 60px;
  width: 60px;
}

.body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 160px;
  height: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: blue
}

.headlights {
  display: flex;
  flex-direction: row;    
  margin-bottom: 0;
  margin-top: 15px;
  margin-bottom: 10px;
}

.headlight {
  width: 25px;
  height:25px;
  background-color: #f9d71c;
  border-radius: 50%;
}

.headlight:nth-child(1) {
  margin-right: 58px;
}

.car-plate {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 70px;
  height: 20px;
  background-color: #ffffff;
  border: 1px solid black;
}

.car-plate p {
  margin: 0;
  font-size: 10px;
  font-weight: bold;
}

.wheels {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wheel {
  width: 35px;
  height: 20px; 
  background-color: black;
  border-radius: 0 0 50% 50%;
}

.wheel:nth-child(1) {
  margin-right: 75px;
}
