.nav-horizontal {
  background-color: #ffbd59;
  height: 3em;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.mask {
  width: 100%;
  display: flex;
}

.list {
  display: inline-table;
  margin: 0 auto;
  max-width: 100%;

}

.homepage-li {
  display: table-cell;
  align-items: center;
}

.homepage-a {
  display: flex;
  padding: 0 1em;
  text-decoration: none;
  color: white;
  height: 3rem;
  font-family: 'Jost';
  font-size: 1.5em;
  justify-content: center; /* Add this line */
  align-items: center; /* Add this line */
}

.homepage-a:hover {
  border-bottom: 2px solid black;
  background-color: white;
  color: black;
}