.road {
    display: grid;
    grid-template-columns: 1fr 0fr 1fr;
    height: 100%;
    border-left: 10px solid black;
    border-right: 10px solid black;
    background-image: url(./assets/asphat-road-texture-gray-color.jpg);
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.grid-item {
    display: flex;
    justify-content: center;
}

.line-separator {
    border: 4px dashed #ffbd59;
}