.color-grid {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 2px solid #ffa825;
    box-sizing: border-box;
    border-right: none;
    border-top: none;
    border-bottom-left-radius: 15px;
    background-color: #333333;
}
