.user-chat-main {
    position: absolute;
    top:6%;
    height: 94%;
    width: 100%;
    background-color: #333333;
    display: grid;
    box-sizing: border-box;
    padding: 2% 0;
}

.user-chat-container {
    width: 50%;
    display:grid;
    grid-template-rows: 1fr 15fr 1fr;
    justify-self: center;
    box-sizing: border-box;
    border: 2px solid #ffa825;
    overflow-y: hidden;
}

.user-chat-header {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fabb5c;
    width: 100%;
    font-family: 'Futurafrica', sans-serif;
    font-size: 1.5rem;
    color: #333333;
    box-sizing: border-box;
    border-bottom: 2px solid #ffa825;
}

.user-chat-beginning {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-bottom: 2px dashed #ffa825;
    padding: 2% 0;
}

.user-chat-beginning-pic {
    width: 80px;
    height: 80px;
    box-sizing: border-box;
    border-radius: 50%;
    cursor: pointer;
}

.user-chat-beginning-txt {
    box-sizing: border-box;
    margin-top: 1%;
    font-family: Jost;
    font-size: 1vw;
    color: #ffa825;
}

.user-chat-messages-body {
    display:flex;
    flex-direction: column;
    overflow-y: scroll;
}

.user-chat-messages {
    display:flex;
    flex-direction: column;
    padding: 2%;
}

.user-chat-message {
    display:flex;
    margin-bottom: 20px;
    font-family: 'Jost';
    font-size: 1.2rem;
    box-sizing: border-box;
}

.user-chat-img {
    width: 40px;
    height: 40px;
    align-self: center;
    box-sizing: border-box;
    border-radius: 20px;
}

.user-chat-img.left  {
    margin-right: 15px;
    border: 2px solid #ffa825;
}

.user-chat-img.right  {
    margin-left: 15px;
    border: 2px solid #fabb5c;
    cursor: pointer;
}

.user-chat-message-content {
    border-radius: 20px;
    padding: 5px;
    word-break: break-word;
}

.user-chat-message-content.left {
    background-color: #fabb5c;
    box-sizing: border-box;
    border: 2px solid #ffa825;
}

.user-chat-message-content.right {
    background-color: #ffa825;
    box-sizing: border-box;
    border: 2px solid #fabb5c;
}

.user-chat-message:nth-last-child(2) {
    margin-bottom: 0;
}

.user-chat-message.left {
    align-self: flex-start;
    margin-right: 10%;
}

.user-chat-message.right {
    align-self: flex-end;
    margin-left: 10%;
}

.user-chat-footer {
    background-color: #ffa825;
    display: grid;
    grid-template-columns: 6fr 1fr;
    border-top: 2px solid #ffa825;
    box-sizing: border-box;

}

.user-chat-btn {
    background-color: #fabb5c;
    border: none;
    transition: .2s ease-in;
    cursor: pointer;
    font-family: 'Jost';
    font-size: 1rem;
}

.user-chat-input {
    font-family: 'Jost';
    font-size: 1rem;
    border: none;
}

.user-chat-btn:focus {
    border: none;
}

.user-chat-btn:hover {
    background-color: #ffa825;
}