.profile-grid {
    display: grid;
    grid-template-rows: 3.8fr 0.5fr;
}

.profile-data {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 0.8fr 1.2fr;
    border-right: 2px solid #ffa825;
    padding-right: 2%;
    background-color: #333333;
}

.profile-pic-container {
    display: grid;
    align-items: center;
    justify-items: center;
    height: 100%;
    width: 100%;
}

.profile-pic {
    box-sizing: border-box;
    height: 85%;
    width: 85%;
    border-radius: 10px;
    border: 2px solid #ffa825;
}

.profile-info {
    display: grid;
    grid-template-rows: 0.8fr 1.2fr;
    font-family: 'Futurafrica', sans-serif;
    color: #fabb5c;
}

.names {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 3px dashed #ffa825;
    font-size: 5rem;
}

.info-car {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.car-container {
    display: grid;
    justify-items: center;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow: hidden;
    font-family: initial;
    font-size: initial;
    color:initial;
}

.other-info {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr 1fr;
    font-size: 1.5rem;
    height: 100%;
}

.profile-field {
    display: grid;
    align-items: center;
    grid-template-rows: 1fr 1fr;
}

.field-span {
    color: #ffa825;
    font-size: 1rem;
}

.profile-buttons {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    position:relative;
}

.profile-button {
    box-sizing: border-box;
    height: 100%;
    background-color: #fabb5c;
    border: 2px solid #ffa825;
    border-left: none;
    font-family: 'Jost';
    font-size: 1rem;
    color: #333333;
    cursor: pointer;
    transition: .2s ease-in;
    caret-color: transparent;
}

.profile-button:hover {
    background-color: #ffa825;
}

.profile-button:last-child {
    border-bottom-right-radius: 15px;
}

