.change-password-form-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(10px);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
}

.change-password-form-container {
  background-color: #333333;
  padding: 2%;
  padding-bottom: 1%;
  border-radius: 20px;
  box-shadow: 0 4px 14px rgba(0, 0, 0);
  position: relative;
  z-index: 1000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 15%;
  height: 25%;
}

.pass-lbl {
  font-family: 'Jost';
  font-size: 1.5rem;
  color: #fabb5c;
  margin-bottom: 2%;
  user-select: none;
}

.close-button {
  position: absolute;
  width: 100%;
  top: 0px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #fabb5c;
  color: black;
  border: 2px solid #ffa825;
  border-radius: 20px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
  transition: .2s ease-in;
}

.close-button:hover {
  background-color: #ffa825;
}

.change-button {
  width: 60%;
  height: 15%;
  display: block;
  background-color: #fabb5c;
  font-family: 'Jost';
  font-size: 1rem;
  margin-top: 3%;
  outline: none;
  border: 1px solid #ffa825;
  border-radius: 5px;
  transition: .2s ease-in;
  cursor: pointer;
  caret-color: transparent;
}

.change-button:hover {
  background-color: #ffa825;
}

.change-password-form {
  display: flex;
  flex-direction: column;
}

.change-input {
  background: white;
  justify-content: center;
  display: flex;
  margin: 5pt auto;
  padding: 10px;
  border: 1px solid black;
  outline: none;
  border-radius: 5px;
  transition: border-color .5s ease-out;
}

.change-input:focus {
  border-color: #ffa825;
}

.icon {
  position: absolute;
  right: 5%;
}